#!/usr/bin/env bash

if [[ "$(hostname -f)" == *snellius* ]]; then
  module purge
  module load 2025 \
    Python/3.13.1-GCCcore-14.2.0 \
    CUDA/12.8.0 \
    NCCL/2.26.6-GCCcore-14.2.0-CUDA-12.8.0 \
    Nsight-Systems/2025.4.1

  export UV_NO_MANAGED_PYTHON=1
  export UV_PYTHON=3.13
  export UV_PYTHON_DOWNLOADS=never

  uv sync --all-groups --extra cu128 --frozen

  export VIRTUAL_ENV="$PWD/.venv"

elif has nix; then
  # Set GITHUB_TOKEN for nix to use when fetching private repositories.
  if [ -z "$GITHUB_TOKEN" ]; then
    nix run nixpkgs#gh auth status || nix run nixpkgs#gh auth login
    GITHUB_TOKEN="$(nix run nixpkgs#gh auth token)"
  fi

  NIX_CONFIG="access-tokens = github.com=$GITHUB_TOKEN"
  export NIX_CONFIG
  use flake

fi

PATH_add "$VIRTUAL_ENV/bin"
